.gallery {
  column-count: 3;
  column-width: 33%;
  padding: 0 12px;
  background-color: black;
}

.gallery .pics {
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .pics:hover {
  transform: scale(1.05);
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .gallery {
    column-count: 1;
  }
}

/* Modal Styling */
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;
  z-index: 999;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal.closed {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

.modal .close-icon {
  position: fixed;
  margin-top: 7rem;
  margin-right: 3rem;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
}
