$primary-color: #f4b969;
$secondary-color: #000;
$accent-color: #f9c74f;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  @media (max-width: 768px) {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-decoration: none;
  }

  .navbar-logo {
    flex-shrink: 0;
    
    h1 {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .navbar-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 4rem;

    @media (max-width: 768px) {
    }

    a {
      color: $primary-color;
      text-decoration: none;
      margin-left: 1rem;
      font-size: 1rem;
      transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.2rem;
      outline: 2px solid transparent; // Initial outline setting

      &:hover {
        color: $accent-color;
        outline: 2px solid $accent-color; // Outline on hover
      }

      @media (max-width: 768px) {
        margin-left: 0.5rem;
        font-size: 0.9rem;
      }

      @media (max-width: 480px) {
        margin-left: 0.3rem;
        font-size: 0.8rem;
      }
    }
  }
}
